#advantages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .title-side {
    margin-left: 3.75%;
  }

  .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    p {
      flex-basis: 40%;
      font-size: 110%;
      line-height: 1.8em;
    }
  
    .text-img {
      flex-basis: 45%;
  
      img {
        width: 100%;
      }
    }
  }

  @media only screen and(max-width: 1200px) {
    .title-side {
      margin-left: 0;
    }

    .content-wrapper {
      flex-direction: column;
      
      .text-img {
        margin-top: 60px;
        width: 70%;
      }
    }
  }

  @media only screen and(max-width: 768px) {
    .content-wrapper {
      .text-img {
        margin-top: 30px;
        width: 100%;
      }
    }
  }
}