.case {
  padding: 8% 20%;
  
  .content-container {
    font-size: 110%;
    line-height: 2em;
    font-weight: 300;

    ul {
      list-style-type: square;
      margin-left: 2.2em;
    }

    .logo {
      margin-bottom: 40px;
    }

    table, .embedded {
      background-color: $white;
      box-shadow: 2px 2px 10px #CCC;
      border-radius: 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      tr {
        td, th {
          border: 1px solid #DDD;
        }
  
        td {
          text-align: center;
        }

        th {
          border-top: none;
          background-color: #21AA42;
          color: $white;
        }

        th:first-child {
          border-top-left-radius: 10px;
          border-top: none;
          border-left: none;
        }

        td:first-child {
          border-left: none;
        }

        th:last-child {
          border-top-right-radius: 10px;
          border-right: none;
        }

        td:last-child {
          border-right: none;
        }
      }

      tr:last-child {
        td {
          border-bottom: none;
        }

        td:first-child {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }

      tr:nth-child(even) {
        background-color: #EEE;
      }

      tr:hover {
        background-color: #DDD;
      }
    }

    .embedded {
      padding: 50px 0;
      margin: 10px 0 30px 0;
      width: 100%;
      text-align: center;

      p.title-img {
        font-size: 120%;
        font-weight: 700;
        margin-bottom: 10px;
        color: #333;
      }
      
      img {
        width: 80%;
      }
    }
  }

  @media only screen and(max-width: 1420px) {
    padding: 5% 12%;
  }
  
  @media only screen and(max-width: 600px) {
    padding: 10% 7%;  

    .content-container {
      .embedded {
        padding: 30px 0;
      }
    }
  }
  
  @media only screen and(max-width: 480px) {
    padding: 10% 5%;
  }
}

.case:nth-child(3) {
  background-color: $bg-gray;
}