#concepts {
  .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    p {
      flex-basis: 40%;
      font-size: 110%;
      line-height: 1.8em;
    }
  
    .text-img {
      flex-basis: 45%;
  
      img {
        width: 100%;
      }
    }
  }

  @media only screen and(max-width: 1420px) {
    padding: 5% 12%;

    .content-wrapper {
      flex-direction: column;

      .text-img {
        margin-top: 60px;
        width: 70%;
      }
    }
  }

  @media only screen and(max-width: 768px) {
    .text-img {
      margin-top: 30px;
      width: 100%;
    }
  }

  @media only screen and(max-width: 600px) {
    padding: 10% 12%;
  }

  @media only screen and(max-width: 480px) {
    padding: 10% 7%;

    .content-wrapper {
      font-size: 90%;

      .text-img {
        margin-top: 15px;
      }
    }
  }
}