.contact {
  .contacts-section {
    padding: 5% 22%;

    &>p {
      font-size: 130%;
      margin-bottom: 40px;
    }

    .contacts-container {
      display: flex;
      justify-content: space-between;

      div p {
        margin-bottom: 10px;
      }

      p.location {
        font-weight: 700;
        font-size: 150%;
        margin-bottom: 20px;
        border-left: 10px solid black;
        padding-left: 10px;
      }

      p.name {
        font-weight: 700;
      }
    }
  }
}