footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: #EEE;

  p {
    font-weight: 300;
    font-size: 110%;
  }

  @media only screen and(max-width: 992px) {
    p {
      font-size: 90%;
    }
  }

  @media only screen and(max-width: 600px) {
    p {
      font-size: 75%;
    }
  }

  @media only screen and(max-width: 480px) {
    transform: translateY(-0.5px);
  }
}