.banner {
  height: 85vh;
  margin-top: 15vh;
  background-image: url(../../img/banner.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;

  .hero-text {
    position: absolute;
    left: 10%;
    
    p {
      font-family: $banner-font, serif;
      color: $white;
      font-size: 400%;
      font-weight: bold;
      letter-spacing: 5px;
      margin: 20px 0;
    }
  }

  @media only screen and(max-width: 1420px) {
    .hero-text {
      left: 5%;
    }
  }

  @media only screen and(max-width: 1200px) {
    height: 90vh;
    margin-top: 10vh;
    background-attachment: scroll;

    .hero-text {
      p {
        font-size: 350%;
      }
    }
  }

  @media only screen and(max-width: 992px) {
    .hero-text {
      p {
        font-size: 270%;
        letter-spacing: 3px;
      }
    }
  }

  @media only screen and(max-width: 768px) {
    height: 93vh;
    margin-top: 7vh;

    .hero-text {
      p {
        font-size: 210%;
        letter-spacing: 2px;
      }
    }
  }

  @media only screen and(max-width: 600px) {
    .hero-text {
      p {
        font-size: 170%;
      }
    }
  }

  @media only screen and(max-width: 480px) {
    height: 70vh;

    .hero-text {
      p {
        font-size: 130%;
      }
    }
  }
}