.banner-about {
  background-image: url(../../img/banner-about.jpg);
}

.banner-cases {
  background-image: url(../../img/banner-cases.jpg);
}

.banner-contact {
  background-image: url(../../img/banner-contact.jpg);
}

.banner-strategies {
  background-image: url(../../img/banner-strategies.jpg);
}

.banner-contact, .banner-about, .banner-cases, .banner-strategies {
  height: 60vh;
  margin-top: 15vh;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-width: 1200px) {
  .banner-contact, .banner-about, .banner-cases, .banner-strategies {
    height: 50vh;
    margin-top: 10vh;
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 768px) {
  .banner-contact, .banner-about, .banner-cases, .banner-strategies {
    height: 45vh;
    margin-top: 7vh;
  }
}

@media only screen and (max-width: 480px) {
  .banner-contact, .banner-about, .banner-cases, .banner-strategies {
    height: 35vh;
  }
}