.banner-about {
  height: 50vh;
  margin-top: 15vh;
  background-image: url(../../img/banner-about.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.banner-cases {
  height: 50vh;
  margin-top: 15vh;
  background-image: url(../../img/banner-cases.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.banner-contact {
  height: 50vh;
  margin-top: 15vh;
  background-image: url(../../img/banner-contact.jpg);
  background-size: cover;
  background-attachment: fixed;
}