.banner-contact, .banner-about, .banner-cases, .banner-strategies {
  height: 60vh;
  margin-top: 15vh;
  background-size: cover;
  background-attachment: fixed;
}

.banner-about {
  background-image: url(../../img/banner-about.jpg);
}

.banner-cases {
  background-image: url(../../img/banner-cases.jpg);
}

.banner-contact {
  background-image: url(../../img/banner-contact.jpg);
}

.banner-strategies {
  background-image: url(../../img/banner-strategies.jpg);
}