#team {
  background-color: $bg-gray;

  .member-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media only screen and(max-width: 480px) {
    padding: 10% 2%;
  }
}