.title-wrapper {
  width: 100%;

  .title {
    text-align: center;
    font-size: 200%;
    letter-spacing: 0.3em;
    margin-bottom: 100px;
    font-weight: 400;

    span {
      padding-left: 0.3em;
    }
  }

  .title:before,
  .title:after {
    background-color: #777;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%;
  }
  
  .title:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .title:after {
    left: 0.5em;
    margin-right: -50%;
  }

  @media only screen and(max-width: 1420px) {
    .title {
      margin-bottom: 50px;
    }
  }

  @media only screen and(max-width: 600px) {
    .title {
      margin-bottom: 20px;
      font-size: 160%;
      letter-spacing: 0.1em;

      span {
        padding-left: 0.1em;
      }
    }
  }

  @media only screen and(max-width: 480px) {
    .title:before,
    .title:after {
      width: 0;
    }
  }
}