// CN font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
// Banner text font
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');
// EN font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: $en-font, $cn-font, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.art-section {
  padding: 5% 12%;
}
